<!doctype html>
<html lang="pt-br">

<!--HEAD-->
{{ topo }}
<!--HEAD-->

<!--CSS-->
 <link rel="stylesheet" href="modulos/cadastros/usuario/css/usuario.css{{ update }}"/>
<!--CSS-->

<body>

    <!--CONTAINER-->
    <div class="paginas">
        
        <!--CSSMENU-->
        {{ menu }}
        <!--CSSMENU-->
        
        <!--CENTRO-->
        <div class="centro">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <i class="fa fa-users fa-fw" aria-hidden="true"></i> Usuarios</div>

                <!--CLIENTES-->
                <div class="panel-body">
                    {{ tag_a }}
                    <div class="form-group">
                            <button type="button" class="btn btn-default" data-toggle='modal' data-target='#usuario' onclick="usuario()"><i class="fa fa-plus"></i> Cadastrar</button>
                        <hr>
                    </div>
                    {{ tag_b }}

                    <!--DATATABLE-->
                    <table id="datatable-usuarios" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Nivel</th>
                                <th>Data do Cadastro</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!--DATATABLE-->

                    <!--MODAL-->
                    <div class="modal fade" id="usuario" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                        <h4 id="t1">Usuário</h4>                                 
                                </div>
                                <form action="/" id="form-usuario">
                                    <div class="modal-body">
                                        <!--FORM-->
                                        <fieldset>
                                            <!-- Text input-->
                                            <input type="hidden" name="id" id="id">
                                            <!-- Text input-->
                                            <div class="form-group col-md-12">
                                                <small id="emailHelp" class="form-text text-muted">Campos com ( <span class="obrigatorio">
                                                    <i class="fa fa-asterisk"></i></span> ) são obrigatórios.
                                                </small>
                                            </div>
                                            <!-- Text input-->
                                            <div class="form-group col-md-12">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon largura" id="t2">Nome:</div>
                                                        <input type="text" class="form-control" name="data[]" id="nome" onkeyup="requerido('nome','p1')" required>
                                                        <div class="input-group-addon" id='p1'><i class="fa fa-asterisk obrigatorio"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-12">
                                                <div class="form-group col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon largura">E-mail:</div>
                                                        <input type="email" class="form-control" name="data[]" id="email" onkeyup="requerido('email','p2')" required>
                                                        <div class="input-group-addon" id='p2'><i class="fa fa-asterisk obrigatorio"></i></div>
                                                    </div>
                                                </div>                                             
                                            </div> 
                                            <!-- Text input-->
                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-addon largura" id="t3">Login:</div>
                                                        <input type="text" class="form-control" name="data[]" id="login" onkeyup="requerido('login','p3')" required>
                                                        <div class="input-group-addon" id='p3'><i class="fa fa-asterisk obrigatorio"></i></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-addon largura" id="t4">Senha:</div>
                                                        <input type="password" class="form-control" name="data[]" id="senha" onkeyup="requerido('senha','p4')">
                                                        <div class="input-group-addon" id='p4'><i class="fa fa-asterisk obrigatorio"></i></div>
                                                    </div>
                                                    <small id="senhaHelp" class="form-text text-muted"></small>
                                                </div>
                                            </div> 
                                            <!-- Text input-->
                                                <div class="col-md-12">
                                                    <div class="form-group col-md-12">
                                                        <div class="input-group">
                                                            <div class="input-group-addon largura">Nivel:</div>
                                                            <select class="form-control" name="data[]" id="nivel" onclick="requerido('nivel','p5')" required>

                                                            </select>
                                                            <div class="input-group-addon" id='p5'><i class="fa fa-asterisk obrigatorio"></i></div>
                                                        </div>
                                                    </div>                                             
                                                </div>                                                                             
                                        </fieldset>
                                        <!--FORM-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="botao_salvar"><i class="fa fa-save"></i> Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--MODAL-->

                </div>
                <!--CLIENTES-->

            </div>

        </div>
        <!--CENTRO-->

    </div>
    <!--CONTAINER-->

</body>

<!--FOOTER PASTA INCLUDES-->
{{ rodape }}

<!--JS usuario-->
<script src="modulos/cadastros/usuario/js/usuario.js{{ update }}"></script>
<!--JS usuario-->

<!--FOOTER-->